/* Ensure layout covers the entire screen. */
html {
    height: 100%;
}

/* Stack toolbar and content on top of each other. */
.editor-body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100%;
}

/* Place drawer and main next to each other. */
.editor-content {
    margin-top: 106px;

    display: flex;
    flex: 1 1 auto;
    height: 100%;
    box-sizing: border-box;
}

.editor-main {
    padding-left: 16px;
}

.editor-toolbar__row {
    min-height: auto;
}

.editor-toolbar__icon-spacer {
    margin-left: 24px;
}

.editor-list-nested {
    margin-left: 24px
}

.editor-value {
    padding-left: 16px;
    color: rgba(0, 0, 0, 0.38);
}

.editor-list-item-value {
    height: 24px !important;
    font-size: 0.9em !important;
}

.editor-list-add {
    padding-top: 6px;
    padding-left: 20px;
}

/* override mdc classes */
.mdc-toolbar__title {
    font-size: inherit;
}

.mdc-list-item {
    padding-left: 24px;
}

.mdc-list--dense .mdc-list-item__graphic {
    margin-right: 16px;
}

.mdc-drawer--permanent {
    width: 300px;
}